     /* Estilos globales */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: none;
    scroll-padding-top: 3rem;
}

body {
    overflow-x: hidden;
}

.btn-primary:hover {
    background-color: rgb(194, 112, 18);
    border: none;
}

.btn-primary {
    background-color: rgb(255, 144, 17);
    border: none;
}

.fa-solid {
    margin-left: 290px;
    font-size: 20px;
}

.file-upload {
    position: relative;
    display: inline-block;
}

.file-upload input[type="file"] {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
}

.file-upload-icon {
    font-size: 50px;
    color: #007bff;
    cursor: pointer;
}



.color-acento {
    color: #ff9f0d;
}

/* Estilos del encabezado */
header {
    position: fixed;
    width: 100%;
    top: 0px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 14%;
    transition: all .50s ease;
    background-color: #000000;
}

/* Estilos del logo */
.logo {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 33px;
    font-weight: 600;
    text-decoration: none;
}

/* Estilos del ícono del logo */
.logo i {
    margin-right: 4px;
    color: rgb(255, 165, 0);
}

/* Estilos de la lista de navegación */
.navlist a {
    color: #fff;
    font-weight: 600;
    margin: 0 30px;
    font-size: 14px;
    transition: all .50s ease;
    text-decoration: none;
}   

/* Estilos de los enlaces de navegación al pasar el cursor */
.navlist a:hover {
    color: orange;
}

/* Estilos del enlace activo */
.navlist a.active {
    color: orange;
    text-decoration: none;
}

/* Estilos de los íconos de navegación */
.nav-icons {
    
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background-color: orange;
    border-radius: 3rem;
    box-shadow: #ff9f0d 0px 1px 25px;
    width: 100px;
}

/* Estilos de los íconos */
.nav-icons i {
    font-size: 25px;
    color: #111111;
    margin-right: 8px;
    margin-top: 5px;
    margin-left: 5px;
    transition: all .50s ease;
}

/* Estilos del ícono del menú */
#menu-icon {
    font-size: 32px;
    color: #111111;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

/* Estilos al pasar el cursor sobre los íconos de navegación */
.nav-icons i:hover {
    transform: scale(1.1);
    color: #fff;
}



/*hero*/


.subcontainer {
    position: relative;
    top: 120px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
    color: #ffffff;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../media/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    bottom: 40px;

}

.hero h1 {
    color: white;
    font-size: 60px;
}

button {
    font-size: 10;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 30px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: #ff9f0d;
}

button:hover {
    background-color: #7b4c06;
}

/*Sobre Nosotros*/

.sobre {
    text-align: center;
    padding: 100px 20px;
    position: relative;
    width: 50%;
}

.img-sobre {
    padding: 100px 20px;
    position: relative;
    right: 70px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 8));
}

/*Contactanos*/

.contactanos {
    position: relative;
    top: 120px;
    background-color: rgba(0, 0, 0, 0.9);
}

.tu-domi {
    color: #fff;
    padding-top: 3%;
    text-align: center;
}

.correo {
    color: #fff;
    padding-top: 3%;
    text-align: center;
    padding-bottom: 3%;
}

.tlf {
    color: #fff;
    padding-top: 3%;
    text-align: center;
    padding-bottom: 3%;
}

.go-store {
    padding-top: 2%;
    text-align: center;
}

.ico-footer,
.ico-footer1 {
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    /* Alineación centrada para el contenedor de íconos */
}

.ico-footer a,
.ico-footer1 a {
    display: inline-block;
    /* Convertir en bloque en línea para aplicar alineación */
    margin: 0 10px;
    text-decoration: none;
}

.ico-footer i {
    font-size: 30px;
    color: #ffffff;
    border-radius: 50%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    transition: .3s ease;
    padding: 10px;
}

.ico-footer1 i {
    font-size: 30px;
    color: #000000;
    border-radius: 50%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    transition: .3s ease;
    padding: 10px;
}






/*------------ Contenedor de inicio de sesión ------------*/

.box-area {
    width: 700px;
}

/*------------ Cuadro derecho ------------*/

.right-box {
    padding: 40px 30px 40px 40px;
}

/*------------ Marca de posicion ------------*/

::placeholder {
    font-size: 16px;
}

.rounded-4 {
    border-radius: 20px;
}

.rounded-5 {
    border-radius: 30px;
}

/*------------pantallas pequeñas------------*/

@media only screen and (max-width: 768px) {

    .box-area {
        margin: 0 10px;

    }

    .left-box {
        height: 100px;
        overflow: hidden;
    }

    .right-box {
        padding: 20px;
    }

}

.img-fluid {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 8));
}

/*shop*/

/*header*/
.nav-icons1 {
    
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background-color: orange;
    border-radius: 3rem;
    box-shadow: #ff9f0d 0px 1px 25px;
    width: 140px;
}

.nav-icons1 i {
    font-size: 25px;
    color: #111111;
    margin-right: 8px;
    margin-top: 5px;
    margin-left: 5px;
    transition: all .50s ease;
}

.nav-icons1 i:hover {
    transform: scale(1.1);
    color: #fff;
}

/* Estilos del recuadro de búsqueda */
#search-box {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    z-index: 2000;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#search-box input {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    font-size: 16px;
}

#search-box button {
    background: #f44336;
    border: none;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

#search-box button:hover {
    background: #d32f2f;
}

header {
    z-index: 1000;
    position: relative;
}

#resultados_busqueda {
    padding: 20px;
    background: #f9f9f9;
    margin-top: 20px;
}

/*hero1*/

.hero1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
    color: #ffffff;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../media/hero.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    bottom: 40px;

}

.hero1 h1 {
    color: white;
    font-size: 40px;
    margin-top: 30px;
}

.ico-hero {
    text-align: center;
    /* Alineación centrada para el contenedor de íconos */
    position: relative;
    top: -120px;
}

.ico-hero a {
    display: inline-block;
    /* Convertir en bloque en línea para aplicar alineación */
    margin: 0 50px;
}

.ico-hero i {
    font-size: 60px;
    color: #fff;
    border-radius: 50%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    transition: .3s ease;
    padding: 10px;
}

.ico-hero1:hover {
    transform: scale(1.1);
}

/*contactanos*/
.contactanos1 {
    position: relative;
    top: 80px;
    background-color: rgba(0, 0, 0, 0.9);
}

/*Comida*/

.subcontainer2 {
    position: relative;
    top: -24px;
}

.hero2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 97.5vh;
    color: #ffffff;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../../media/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.hero2 h1 {
    color: white;
    font-size: 40px;
}

.hero2 .comida {
    width: 250px;
    height: 250px;
    background-color: rgb(180, 202, 202);
    display: grid;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Centra verticalmente */
    grid-template-columns: 1fr 1fr;
    margin: 25px;
    border-radius: 15px;
}

.restaurantes {
    display: flex;
    justify-content: center;

}

.comida img {
    max-width: 100%;
    max-height: 100%;
}


@media (max-width: 768px) {
    .hero2 .comida {
        width: calc(33.33% - 50px);
        /* Ajusta el ancho de los elementos para que quepan en una fila en pantallas más pequeñas */
        margin: 10px;
        /* Reduce el margen entre los elementos */
        width: 110px;
        height: 110px;
    }

    .row.restaurantes {
        flex-wrap: wrap;
        /* Permite que los elementos se envuelvan en pantallas más pequeñas */
    }
}

/*PRODUCTOS*/
.card-img-top {
    border-radius: 50px;
    padding: 20px;
}

.card {
    border-radius: 30px;
    box-shadow: #b4caca;

}

.card-body {
    padding: 25px;
    margin-top: -15px;
}

h3,
h5 {
    color: rgb(0, 0, 0, 0.8);
    font-weight: bold;
}



.ico-header,
.ico-carro {
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    /* Alineación centrada para el contenedor de íconos */
}

.ico-hader a,
.ico-carro a {
    display: inline-block;
    /* Convertir en bloque en línea para aplicar alineación */
    margin: 0 10px;
}

.ico-header i {
    font-size: 30px;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    transition: .3s ease;
    padding: 10px;
}

.ico-header .bx {
    margin-left: 50%;
}

.contador-carrito {
    background-color: orange;
    color: white;
    border-radius: 50%;
    padding: 1px 6px;
    font-size: 1em;

}

/*carrito*/

.name-ca {
    padding-top: 30px;
    color: #ff9f0d;
}

.name-car {
    padding-top: 30px;
    font-size: 14px;
    font-weight: none;
}

.ico-carro i {
    font-size: 30px;
    color: #000000;
    border-radius: 50%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    transition: .3s ease;
    padding: 10px;
}

.subcontainer3 {
    position: relative;
    top: 30px;
    border: 1px solid rgb(236, 236, 236);
    padding: 5%;
    border-radius: 15px;
}

.carrito {
    border: 1px solid rgb(236, 236, 236);
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 2%;
}

.subcontainer3 .precio {
    font-weight: bold;
}

.cantidad {
    text-align: center;
    padding-left: 10px;
}

.subtotal {
    display: flex;
    justify-content: space-between;
    text-align: center;

}

.subtotal .valor {
    padding-top: 2%;
    text-align: center;
    padding-right: 15%;
}

.btn-pagar {
    background-color: #ff9f0d;
    color: #fff;
    border: none;
    border-radius: 30px;
    margin-top: 1%;
}

.btn-disabled {
    background-color: grey;
    cursor: not-allowed;
}

/* FACTURACION INICIO */

/* General Adjustments */
.accordion-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* Espacio entre productos */
}

.product-row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(180, 202, 202);
    padding: 10px 0;
}

.product-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.product-details img {
    margin-right: 20px;
}

/* Accordion */
.subcontainer3 .diren,
.accordion-body {
    display: flex;
    justify-content: space-between;
    text-align: center;
    text-decoration: none;
    border: none;
    border-bottom: 1px solid rgb(180, 202, 202);
}

/* Summary and Shipping Options */
.resumen {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.subcontainer4 {
    position: relative;
    margin-top: 60px;
    border: 1px solid rgb(236, 236, 236);
    padding: 5%;
    border-radius: 15px;

}

.direccion {
    margin-top: 10px;
}

.detalles {
    width: 100%;
    height: 48px;
    font-family: Nunito, sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    /* 14px */
    color: rgb(46, 44, 54);
    background-color: rgb(247, 248, 249);
    border: none;
    border-bottom: 1px solid rgb(230, 235, 241);
    padding: 12px 20px 12px 12px;
}

/* Accordion Button */
.accordion-button {
    background-color: #ff9f0d;
    color: white;
}

.accordion-button:not(.collapsed) {
    background-color: #ff9f0d;
    color: white;
}

.accordion-button:hover {
    background-color: #e68a00;
    color: white;
}

.accordion-button:focus {
    box-shadow: 0 0 0 0.25rem rgba(255, 159, 13, 0.5);
}

/* Flex Containers */
.estimada {
    display: flex;
    justify-content: space-between;
    text-align: center;
    text-decoration: none;
    margin-top: 30px;
    border: 1px solid rgb(236, 236, 236);
    padding: 20px;
    border-radius: 15px;
    background-color: #ffffff;
    margin-bottom: 3%;
}

.esti,
.esti-tiempo {
    margin-top: 20px;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.label-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    margin-top: 15px;
}

.label-container label {
    margin-bottom: 5px;
}

.label-container h6 {
    margin: 0;
}

.precio {
    margin-left: auto;
}

/* Methods and Summary Total */
.metodo {
    border-bottom: 1px solid rgb(180, 202, 202);
}

.tarjeta,
.add_metodo {
    margin-top: 30px;
}

.add_metodos {
    margin-top: 30px;
    border: 1px solid rgb(230, 235, 241);
    background-color: #44b478;
}

.resumen_total {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.resumen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.resumen h6,
.resumen p {
    margin: 0;
}

.product-row img {
    margin-right: 20px;
}

.product-details {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cupones {
    margin-top: 30px;
    border: 1px solid rgb(236, 236, 236);
    padding: 20px;
    border-radius: 15px;
    background-color: #ffffff;
    margin-bottom: 3%;
}

.esti-tiempo {
    margin-top: 30px;
    border: 1px solid rgb(236, 236, 236);
    padding: 20px;
    border-radius: 15px;
    background-color: #ffffff;
    margin-bottom: 3%;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
    .product-details img {
        max-width: 80px;
    }

    .resumen p {
        font-size: 0.75rem;
        /* Smaller font size for mobile */
    }

    .subcontainer4 {
        margin-top: 30px;
        padding: 3%;
    }

    .detalles {
        font-size: 0.75rem;
        /* Smaller font size for mobile */
    }
}

/* FACTURACION FIN */

/**PEDIDOS**/
table {
    width: 100%;
    border-collapse: collapse;
}

.header_fixed {
    max-height: 100vh;
    width: 100%;
    overflow: auto;
    border: 1px solid #dddddd;
}

.header_fixed thead th {
    position: sticky;
    top: 0;
    background-color: black;
    color: #e6e7e8;
    font-size: 15px;
}

th,
td {
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    font-size: 14px;
}

td img {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 5px solid #e6e7e8;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: #edeef1;
}

tr:hover td {
    color: #44b478;
    cursor: pointer;
    background-color: #ffffff;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/**PRODUCTOS AGREGAR**/

/* Estilos específicos del card */
.card {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;

}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.card button {
    background-color: #ffa500;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.card input[type="text"],
.card input[type="number"],
.card input[type="file"],
.card textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* mensaje de contraseña*/
.password-strength {
    display: none;
    font-size: 0.875em;
}

.strong-password {
    color: green;
}

.weak-password {
    color: red;
}

/* TARJETA */
.ico-footer1 {
    margin: 10px 0;
}

.subcontainer4 {
    margin-top: 30px;
    border: 1px solid rgb(236, 236, 236);
    padding: 20px;
    border-radius: 15px;
    background-color: #f8f9fa;
}

.di-na {
    margin-bottom: 15px;
}

.di-na label {
    display: block;
    margin-bottom: 5px;
}

.di-na input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.hacer-pedido {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.hacer-pedido:hover {
    background-color: #0056b3;
}

/*SWITCH*/

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:checked+.slider:before {
    transform: translateX(14px);
}

/* From Uiverse.io by DaniloMGutavo */ 
.checkbox-container {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
  }
  
  .custom-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 4px;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 8px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
  
  .custom-checkbox:checked ~ .checkmark {
    background-color: #2196F3;
    box-shadow: 0 3px 7px rgba(33, 150, 243, 0.3);
  }
  
  .custom-checkbox:checked ~ .checkmark:after {
    display: block;
  }
  
  @keyframes checkAnim {
    0% {
      height: 0;
    }
  
    100% {
      height: 10px;
    }
  }
  
  .custom-checkbox:checked ~ .checkmark:after {
    animation: checkAnim 0.2s forwards;
  }
 /* Asegúrate de que el estilo sea específico para los botones de like y dislike */
.like-dislike-container {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .like-btn, .dislike-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #AAA; /* Color por defecto */
  }
  
  .like-btn .fa-thumbs-up {
    color: green; /* Color verde para el botón de like */
  }
  
  .dislike-btn .fa-thumbs-down {
    color: red; /* Color rojo para el botón de dislike */
  }
  
  .like-btn:hover, .dislike-btn:hover {
    color: #333; /* Color al pasar el ratón */
  }
  
  /* Opcional: añadir algunos estilos adicionales si se necesita */
  .card-body {
    text-align: center;
  }
  
  .card-title, .card-text {
    margin-bottom: 10px;
  }
  
  /* nav-styles.css */

/* Estilos específicos para el nav */
.custom-nav {
    position: fixed; /* O absolute, dependiendo de tu diseño */
    top: 0; /* Ajusta esto según sea necesario */
    left: 0;
    width: 100%;
    height: 104px;
    background-color: #000000; /* Color de fondo si es necesario */
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    padding: 10px 14%; /* Ajusta el padding según sea necesario */
    box-sizing: border-box;
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
  }

  .custom-nav ul li a i.icono-grande {
    font-size: 35px; /* Ajusta el tamaño del icono */
    align-items: center;
    justify-content: center;
}
  
  .custom-nav a {
    
    color: #fff; /* Color del texto */
    text-decoration: none;
    padding: 0 15px; /* Espaciado entre los enlaces */
  }
    .custom-nav a {
    
    color: #fff; /* Color del texto */
    text-decoration: none;
    padding: 0 15px; /* Espaciado entre los enlaces */
  }
  
  .custom-nav #logo {
    font-size: 30px;
    font-weight: 600;
  }
  
  .custom-nav input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
  }
  
  .custom-nav label {
    display: none;
    cursor: pointer;
  }
  
  .custom-nav ul {
    display: flex; /* Alinea horizontalmente los elementos de la lista */
    list-style: none; /* Elimina los puntos de la lista */
    margin: 0;
    padding: 0;
    margin-left: auto; /* Empuja el menú a la derecha */
  }
  .custom-nav ul li {
    margin-right: 20px; /* Añade un margen derecho de 20px a cada <li> */
}

.custom-nav ul li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último <li> */
}

  .custom-nav ul a {
    padding: 0.5em;
  }
  
  .custom-nav ul a:hover {
    margin: 5px;
    background-color: #333333;
    border-radius: 0.5em;
  }
  
  .custom-nav .active {
    border-bottom: 2px solid #ffffff;
  }
  
  @media screen and (max-width: 768px) {
    .custom-nav label {
      display: block;
    }
    
    .custom-nav ul {
      font-size: 1.2em;
      position: absolute;
      left: -100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #333333;
      gap: 2em;
      top: 104px;
      width: 100%;
      height: calc(100vh - 60px);
      transition: 0.5s;
    }
  
    .custom-nav input[type="checkbox"]:checked ~ ul {
      left: 0;
    }
  
  }
  
